  <h1 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Users</h1>
  <div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
          <tr>
            <th scope="col" class="px-6 py-3">
              Name
            </th>
            <th scope="col" class="px-6 py-3">
              Email
            </th>
            <th scope="col" class="px-6 py-3">
              Actions
            </th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
              <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                <%= user.full_name %>
              </th>
              <td class="px-6 py-4">
                <%= user.email %>
              </td>
              <td class="px-6 py-4">
                  <div class="font-medium text-blue-600 dark:text-blue-500 hover:underline"> <%= link_to "Edit", edit_user_path(user) %></a>
              </td>
            </tr>
          <% end %>
        </tbody>
    </table>
    <button type="button" class="py-2.5 px-5 m-2 ms-0 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"> <%= link_to "New user", new_user_path %> </button>
