<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing path marker</h1>

  <%= render "form", path_marker: @path_marker %>

  <%= link_to "Show this path marker", @path_marker, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to path markers", path_markers_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
