<div data-controller="maps">
  <div>
    <div class="-z-30">
      <div data-maps-target="container" class="h-96 w-screen"></div>
    </div>
    <%# Need to include clear and submission buttons on the side of the map, submission means creation of grouping of points and a runthrough of the path algorithm %>
    <div class="mt-1 flex-row">
      <%= label(:title, "Trip name:", class:"text-gray-900 dark:text-white") %>
      <%= text_field_tag(:title, nil, data: {"maps-target": "text"}) %>
      <button data-maps-target="submit" type="button" class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"> Submit </button>
      <button data-maps-target="clear" type="button" class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"> Cancel </button>
    </div>

  </div>

  <%# This dropdown section needs to include multiple sections for  %>
  <div id="drawer-swipe" class="fixed z-40 w-full overflow-y-auto bg-white border-t border-gray-200 rounded-t-lg dark:border-gray-700 dark:bg-gray-800 transition-transform bottom-0 left-0 right-0 translate-y-full bottom-[60px]" tabindex="-1" aria-labelledby="drawer-swipe-label">
    <div class="p-4 cursor-pointer hover:bg-gray-50 dark:hover:bg-gray-700" data-drawer-toggle="drawer-swipe">
        <span class="absolute w-8 h-1 -translate-y-1/2 bg-gray-300 rounded-lg top-3 left-1/2 dark:bg-gray-600" data-drawer-target="drawer-swipe" data-drawer-show="drawer-swipe" data-drawer-placement="bottom" data-drawer-edge="true" data-drawer-edge-offset="bottom-[60px]" aria-controls="drawer-swipe"></span>
    </div>
    <div class="h-80 gap-4 p-4">
      <div class="mb-4 border-b border-gray-200 dark:border-gray-700">
          <ul class="flex flex-wrap -mb-px text-sm font-medium text-center" id="default-tab" data-tabs-toggle="#default-tab-content" role="tablist">
              <li class="me-2" role="presentation">
                  <button class="inline-block p-4 border-b-2 rounded-t-lg" id="profile-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">Paths</button>
              </li>
              <li class="me-2" role="presentation">
                  <button class="inline-block p-4 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300 dark:hover:text-gray-300" id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="false">Search</button>
              </li>
          </ul>
      </div>
      <div id="default-tab-content">
          <div class="p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div id="path_markers_list">
              <%= render partial: 'path_markers/path_marker', collection: @path_markers %>
            </div>
            <%= turbo_stream_from "path_markers_list" %>
          </div>
          <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
            <%# implement the list returned from search here, button in the meantime %>
            <button data-maps-target="create" type="button" class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"> Search </button>

          </div>
      </div>
    </div>
  </div>
</div>

